# Umgebungsvariablen
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/

# Datenbanken
*.db
*.sqlite3

# Logs, Caches
*.log
.mypy_cache/

kernal/store/file_sums/sum_db.pkl
kernal/config/tree_builder.json
kernal/pipes
kernal/store/meta
base_prompt.gpt
deploy.sh