# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Umgebung & Secrets
.env
.venv/
env/
venv/
.idea/
.vscode/
.DS_Store
*.pem
*.key
*.p12

# Log/Cache
*.log
*.cache
.mypy_cache/
.ruff_cache/
coverage/
.pytest_cache/

# Build/Dist
build/
dist/

# Lokale Daten
results_data/